body {
  background-image: url("img/background.jpg");
}

#titel {
  text-align: center;
  color: #1EB549;
  font-family: verdana;
}
.speaker {
  width: 120px;
  height: 120px;
}

#button {
  background-color: #1EB549;
  width: 600px;
  height: 40px;
  border-radius: 5px;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
}

#info {
  text-align: center;
  width: 800px;
  height: 200px;
  color: #fff;
}
