body {
  background-image: url("../img/background.jpg");
}

.titel {
  text-align: center;
  color: #08E1ED;
  font-family: verdana;
  border-style: groove;
  border-width: 20px;
  border-radius: 30px;
  border-color: #08E1ED;
}

.beschrijving {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#constructie {
    text-align: center;
}

#constructie img {
  width: 40%;
  height: 40%;
}

#invoeren {
  background-color: #0FEE4E;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  border-color: #0FEE4E;

}

#bevestigen {
  background-color: #0FEE4E;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  border-color: #0FEE4E;
}

.calculator {
  text-align: center;
}

#button {
    background-color: #01C0FF;
    border: solid;
    border-radius: 12px;
    border-color: #DADADA;
    color: white;
    padding: 10px 60px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
}
